<mat-toolbar color="primary">
  <span class="ml-20 flex items-center">
    @if(false) {
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    
      }
      <img class="logo" src="../../../assets/logo/logo.png" alt="logo" srcset="">
  </span>
  <span class="spacer"></span>
  <span class="mr-20  flex items-center gap-x-7">
    <mat-icon class='text-4xl'>search</mat-icon>
    <mat-icon class='text-4xl'>account_circle</mat-icon>
    <mat-icon class='text-4xl' matBadge="15" matBadgeColor="warn" >shopping_cart</mat-icon>
  </span>
</mat-toolbar>
